#layout-header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background: #0040ff;
  color: white; }
  #layout-header nav .logo p {
    margin: 5px;
    font-size: 2rem;
    font-weight: bold; }
  #layout-header nav .links ul {
    margin: 5% 5px;
    display: flex; }
    #layout-header nav .links ul li {
      margin-right: 30px;
      font-size: large; }
  #layout-header nav a {
    color: white;
    text-decoration: none; }
